<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Tarefa</title>
    <link rel="stylesheet" href="/styleCreate.css">
</head>

<body>
    <div class="form-container">
        <h2>Criar Nova Tarefa</h2>
        
        <form>
            <div class="form-group">
                <label for="task-title">Título da Tarefa</label>
                <input type="text" id="task-title" name="task-title" placeholder="Digite o título da tarefa" required>
            </div>

            <div class="form-group">
                <label for="task-desc">Descrição</label>
                <textarea style="font-family: Arial" id="task-desc" name="task-desc" placeholder="Digite a descrição da tarefa"></textarea>
            </div>

            <div class="form-group">
                <label for="task-status" class="checkbox-label">Tarefa já foi feita</label>
                <input type="checkbox" id="task-status" name="task-status">
            </div>

            <div class="form-group">
                <label for="task-date">Prazo</label>
                <input id="date" type="date"/>
            </div>

            <div class="form-group">
                <label for="priority">Prioridade</label>
                <select name="priority" id="priority">
                    <option value="0"></option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                  </select>
            </div>

            <div class="form-actions">
                <button id="submit-btn" type="submit">Criar Tarefa</button>
            </div>
        </form>

        <div class="form-actions">
            <button id="back-btn" class="back-button">Voltar</button>
        </div>
    </div>

    <script>
        const submit = document.getElementById("submit-btn");
        submit.addEventListener("click", (event) => {
            event.preventDefault(); // Evita o envio padrão do formulário
            let tTitle = document.getElementById("task-title").value;
            let tDesc = document.getElementById("task-desc").value;
            let tDone = document.getElementById("task-status").checked;
            let tDate = document.getElementById("date").value;
            let tPriority = document.getElementById("priority").value;
            console.log(tPriority);
            fetch("/create", {
                method: "POST",
                body: JSON.stringify({
                    title: tTitle,
                    desc: tDesc,
                    done: tDone,
                    dueDate: tDate,
                    priority: tPriority 
                }),
                headers: { "Content-type": "application/json; charset=UTF-8" }
            })
                .then((response) => response.json())
                .then((json) => {
                    console.log(json)
                    window.location.href = "/";
                });
        });

        const backBtn = document.getElementById("back-btn");
        backBtn.addEventListener("click", () => {
            window.location.href = "/";
        });
    </script>

</body>

</html>
