<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Tarefa</title>
    <link rel="stylesheet" href="/styleEdit.css">
</head>

<body>
    <div class="form-container">
        <h2>Atualizar Tarefa</h2>
        
        <form>
            <div class="form-group">
                <label for="task-title">Título da Tarefa</label>
                <input type="text" id="task-title" name="task-title" placeholder="Digite o título da tarefa" required>
            </div>

            <div class="form-group">
                <label for="task-desc">Descrição</label>
                <textarea id="task-desc" name="task-desc" placeholder="Digite a descrição da tarefa"></textarea>
            </div>

            <div class="form-group">
                <input type="checkbox" id="task-status" name="task-status">
                <label for="task-status" class="checkbox-label">Tarefa já foi feita</label>
            </div>

            <div class="form-actions">
                <button id="submit-btn" type="submit">Atualizar Tarefa</button>
            </div>
        </form>

        <div class="form-actions">
            <button id="back-btn" class="back-button">Voltar</button>
        </div>
    </div>

    <script>
        let tTitle = document.getElementById("task-title");
        let tDesc = document.getElementById("task-desc");
        let tDone = document.getElementById("task-status");
        let checked;

        tTitle.value = '<%= task.title %>';
        tDesc.value = '<%= task.desc %>';
        checked = '<%= task.done %>';
        if (checked == 0) {
            checked = false;
        }
        else {
            checked = true;
        }
        console.log(checked);

        const submit = document.getElementById("submit-btn");
        submit.addEventListener("click", (event) => {
            event.preventDefault(); // Evita o envio padrão do formulário
            let tTitle = document.getElementById("task-title").value;
            let tDesc = document.getElementById("task-desc").value;
            let tDone = document.getElementById("task-status").checked;
            fetch("/edit", {
                method: "POST",
                body: JSON.stringify({
                    title: tTitle,
                    desc: tDesc,
                    done: tDone,
                    _id: '<%= task.id %>'
                }),
                headers: { "Content-type": "application/json; charset=UTF-8" }
            })
                .then((response) => response.json())
                .then((json) => {
                    console.log(json)
                    window.location.href = "/";
                });
        });

        const backBtn = document.getElementById("back-btn");
        backBtn.addEventListener("click", () => {
            window.location.href = "/";
        });
    </script>

</body>

</html>
