body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.task-container {
    width: 500px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.task:last-child {
    border-bottom: none;
}

.task-info {
    flex-grow: 1;
}

.task-title {
    font-weight: bold;
    margin: 0;
}

.task-desc {
    margin: 5px 0;
    font-size: 14px;
    color: #555;
}

.task-status {
    font-size: 14px;
    color: green;
}

.task-status.not-done {
    color: red;
}

.task-date,
.task-priority {
    font-size: 14px;
    color: #333;
    margin-top: 5px;
}

.task-actions {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.task-actions button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.task-actions .edit-btn {
    background-color: #ffc107;
    color: #fff;
}

.task-actions .delete-btn {
    background-color: #dc3545;
    color: #fff;
}

.task-actions .view-btn {
    background-color: #007bff;
    color: #fff;
}

.create-btn {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding: 10px 0;
    background-color: #28a745;
    color: #fff;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.modal {
    visibility: hidden;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.modal-content p {
    margin-bottom: 20px;
    font-size: 18px;
}

.delete-btn {
    background-color: #dc3545;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.cancel-btn {
    background-color: #ffee00;
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.delete-btn:active {
    background-color: #bd2130;
    transform: scale(1);
}
